.p-detail-post{
    background: linear-gradient(to right, yellow, aqua);
    width: 100%;
    position: absolute;
    padding-left: 19px;
}
.p-detail-title{
    text-transform: capitalize;
    font-size: 2em;
    font-weight: 500;
    color: rgb(182, 81, 8);
}