youtube-wrapper {
    display: inline-block;
    width: 210px;
    box-sizing: border-box;
    margin-right: 12px;
  }
/* #root{
    display: inline-block;
} */
div{
    display: inline-block;
}
  .img-thumb {
    width: 200px;
    height: 118px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: inline-block !important;
  }
  
  .image{
    background-image: url(./121.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
  }
  
  .time {
    position: absolute;
    color: white;
    bottom: 6px;
    right: 6px;
    margin: 0;
    background: black;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
  }
  
  p.title {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 10px;
    color: #2d2d2d;
  }
  
  p.desc {
    font-size: 12px;
    color: #999;
    margin: 0px;
  }