
.post{
    padding: 10px;
    width: 700px;
    height: 150px;
    background-color: #FFF;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #00000030;
    font-size: 13px;
    margin: 10px;
    position: relative;
    box-sizing: border-box;
}
.imgg-thumb{
    width: 250px;
    height: 100%;
}
.imgg-thumb img{
    width: 250px;
    height: 100%;
    object-fit: cover;
}
.contentt div{
    display: block;
    margin: 10px;
}
.section-titlee {
    font-weight: bolder;
    font-size: 15px ;
}
.tittle{
    font-weight: bolder;
    font-size: 15px ;
}
.tittle:hover{
    cursor: pointer;
    color: rgb(116, 113, 113);
}
.remove{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 15px;
    border-radius: 5%;
    background-color: #c81912 ;
    color: #ededed;
    outline: none;
    cursor: pointer;
}
.update{
    position: absolute;
    right: 30px;
    bottom: 0;
    font-size: 15px;
    border-radius: 5%;
    background-color: #27c812 ;
    color: #ededed;
    outline: none;
    cursor: pointer;
}


.form-add-post{
    width: 700px;
    height: 300px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #00000030;
}

.form-add-post input,.form-add-post textarea{
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    margin: 10px 0;
    border-radius: 3px;
    font-size: .7em;
    font-weight: 700;
}